@import 'tailwindcss';
@plugin '@tailwindcss/typography';

body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    background-image: linear-gradient(to bottom, #020917, #101725);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.icon svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}